################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PS5 NOR Modifier/bin/
/PS5 NOR Modifier/obj/
/UART-CL By TheCod3r/.vs/UART-CL By TheCod3r/FileContentIndex/6779b8d0-d6bd-4f3d-9d38-712b7d1c062a.vsidx
/UART-CL By TheCod3r/.vs/UART-CL By TheCod3r/FileContentIndex/ad243a56-5826-4ffc-9fe9-6ab2da277668.vsidx
